
.radioPage {
  margin-left: 50px;
}

.play__list__wrapper{

display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;

}

.item{
    width: 45%;
    margin: 15px;
    border: 1px solid black;
    display: flex;
flex-direction: column;
flex-wrap: wrap;

}



  .lable{
    width: 100%;
    filter: grayscale(100%) brightness(45%);
    transition: filter 0.5s ease;
  }

  .lable img {
    width: 100%;
    height: auto;
  }

  .lable:hover {
    filter: grayscale(0%) brightness(100%);
  }

  .tracklist{
    margin: 15px 0;
    border: black 2px solid;
  }

  .trackTitle{
    border-bottom: blue 1px solid;
    cursor: pointer;
  }



