.videoWrapper{}
.header{
  margin: 100px 50px;
}

.form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1em;
  margin-bottom: 1em;
}
.button {
  background: #17f;
  color: #fff;
  font: inherit;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 0.5em 1.5em;
}
.button:hover{
  cursor: pointer;
}
.button:active { background-color: #05b; }
.input {
  border: 1px solid #999;
  border-radius: 3px;
  font: inherit;
  padding: 0.5em;
  outline: none;
}
.input:focus { outline: auto #17f; }

.searchWrapper{}

.videoItems {
  display: flex;
  flex-direction: column;
}

.videoItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 6px;
  box-shadow: 0px 1px 6px 2px #0002;
  transition: transform 100ms ease-in-out;
  background-color: rgb(243, 240, 240);
  margin-bottom: 20px;
  cursor: pointer;

}

.videoItem:hover {
  transform: scale(1.02);
}

.videoImg {
  width: 20%;
  height: auto;
}

.videoDescription {
  display: flex;
  flex-direction: column;
  /* flex-grow: 2; */
}

.videoName {
  margin-bottom: 5px;
  font-weight: 900;
  padding-left: 20px;
}

.videoDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 25px;
  align-items: baseline;
}

.videoDetails div{
  width: 35%;
  margin-right: 10px;
  margin-top: 5px;
}

.videoBlock {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.videoPlayer {
  width: 50%;
  height: auto;
}

.closeVideo span{
  margin-left: 30px;
  text-decoration: underline;
  cursor: pointer;
  color: #17f ;
  
}















ul {
  list-style-type: none;
  padding-left: 0;
}
.items {
  display: grid;
  gap: 1em;
}
.item {
  background: #fff;
  padding: 1em;
  border-radius: 6px;
  box-shadow: 0px 1px 6px 2px #0002;
  transition: transform 100ms ease-in-out;
  display: grid;
  gap: 1em;
  grid-template:
    "d i"
    "m m";
}
.item:hover { transform: scale(1.02); }
.item div { grid-area: d; }
.item img { grid-area: i; height: 50%; width: auto; } 
.item ul  { grid-area: m; }
.meta {
  display: grid;
  grid-auto-flow: column;
  gap: 2em;
  font-size: 80%;
  color: #555;
}



.videoPlayer{
  display: inline-block;
}

.closeVideo {
  display: inline-block;
  float: right;
  font-size: 24px;
}