.error {
    color: #700;
    font-size: bold;
    font-size: 16px;
    padding: 5px 8px;
}

span.error::before{
    font-family: FontAwesome;
    display: inline-block;
    font: normal normal normal 14px FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\F06A';
    margin-right: 5px;
}

.errorContainer {
    height: 30px;
}