
label {
	width: 150px;
	display: inline-block;
	vertical-align: top;
}

.input {
    margin-left: 100px;
}

.commonError {
	color: #700;
    font-size: bold;
    font-size: 16px;
    padding: 5px 8px;
}